.dropdown {
   position: relative;

   .btn {
      background-color: #57575766;
      border-radius: 30px;
      padding: 8px 16px;
      display: flex;
      align-items: center;
      gap: 16px;
      color: #f0f0f0;
      font-size: 16px;
      line-height: 24px;

      .value {
         display: flex;
         align-items: center;
         gap: 8px;
      }

      .icon {
         max-height: 24px;
         transition: rotate .4s ease;
      }

      .open {
         rotate: 180deg;
      }
   }

   .menu {
      
   }
}