.container {
    margin: 150px auto 0;
    border-radius: 12px;

    position: relative;
    max-width: 924px;
    padding: 2px;
    background: linear-gradient(
        123.32deg,
        #12fff1 -11.29%,
        rgba(15, 15, 15, 0.3) 109.37%
    );

    backdrop-filter: blur(24px);
    box-shadow: 0px 0px 150px 0px #12fff133;

    @media screen and (max-width: 1280px) {
        margin-top: 100px;
        max-width: 650px;
    }
    @media screen and (max-width: 960px) {
        max-width: none;
        margin: 122px 32px 0;
        border-radius: 14px;
    }
    @media screen and (max-width: 480px) {
        margin: 100px 16px 0;
        border-radius: 12px;
    }
}

.content {
    padding: 36px;
    border-radius: 12px;

    background: rgba(15, 14, 20, 1);

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1280px) {
        gap: 25px;
        border-radius: 8px;
    }
    @media screen and (max-width: 960px) {
        padding: 44px;
        border-radius: 14px;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    @media screen and (max-width: 480px) {
        padding: 36px;
        gap: 44px;
    }
}

.left {
    max-width: 500px;

    @media screen and (max-width: 1280px) {
        max-width: 350px;
    }
    @media screen and (max-width: 960px) {
        max-width: 490px;
    }
    @media screen and (max-width: 480px) {
    }
}

.title {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #ffffff;

    @media screen and (max-width: 1280px) {
        font-size: 26px;
        line-height: 28.44px;
    }
    @media screen and (max-width: 960px) {
        font-size: 43.97px;
        line-height: 48.85px;
        text-align: center;
        max-width: 390px;
        margin: 0 auto;
    }
    @media screen and (max-width: 480px) {
        max-width: 290px;
        font-size: 36px;
        line-height: 40px;
    }
}

.desc {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #ffffff;
    @media screen and (max-width: 1280px) {
        margin-top: 8px;
        font-size: 14px;
        line-height: 19.91px;
    }
    @media screen and (max-width: 960px) {
        font-size: 21.98px;
        line-height: 34.2px;
        text-align: center;
        margin-top: 24px;
    }
    @media screen and (max-width: 480px) {
        margin-top: 20px;
        font-size: 18px;
        line-height: 28px;
    }
}

.button {
    width: 220px;
    padding: 12px;
    border-radius: 50px;
    background: linear-gradient(90deg, #12fff1 0%, #9dfff9 100%);

    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    color: #0f0f0f;
    cursor: pointer;

    @media screen and (max-width: 1280px) {
        width: 150px;
        padding: 8px;
        font-size: 10px;
        line-height: 14.93px;
    }
    @media screen and (max-width: 960px) {
        width: 350px;
        padding: 24px;
        font-size: 26.87px;
        line-height: 18.24px;
    }
    @media screen and (max-width: 480px) {
        font-size: 22px;
        line-height: 14.93px;
        padding: 19px;
        width: 290px;
    }
}
