.head {
   display: flex;
   gap: 20px;

   .left {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 50%;

      .select {
         display: flex;
         align-items: center;
         gap: 20px;

         h3 {
            color: #f0f0f0;
            font-size: 20px;
            line-height: 36px;
            font-weight: 600;
         }
      }
   }
   .rates {
      width: 100%;
      max-width: 213px;
  
      .rate {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #fff;
      }
   }

   .right {
      width: 50%;

      .rates {
         max-width: none;
         display: flex;
         align-items: center;
         justify-content: flex-end;
         gap: 8px;

         .rate {
            margin: 0;
            gap: 60px;
         }
      }

      .targets {
         display: flex;
         align-items: center;
         justify-content: space-between;

         .items {
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: #fff;
            list-style: none;

            .discount {
               padding: 0 8px;
               border-radius: 8px;
               background-color: #F0F0F01A;
            }

            .separator {
               width: 1px;
               height: 24px;
               background-color: #F0F0F01A;
            }

            li:nth-child(3), li:nth-child(5) {
               width: 90px;
               text-align: right;
            }
         }
      }
   }
}

.title {
   color: #fff;
   font-weight: 600;
   display: flex;
   align-items: center;
   gap: 8px;
}